body{
	padding-left:10%;
}
h1{
	font-size: 1.5em;
	font-family: georgia;
	color: #FF840F;
	margin-bottom:0;
}
li{
	font-size: 1em;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.5em;
	color: #666;
}
ul{
	margin-top:10px;
	padding-bottom:10px;
	padding-top:10px;
	width:60%;
	outline:#f0f0f0 solid thin;
}
ul:focus{
	outline:#FF840F solid thin;
}
