.container { width: 950px; }
[class*="span"] { margin-left: 5px; margin-right: 5px; }
.row { margin-left: -5px; margin-right: -5px }
.span1 { width: 30px; }
.span2 { width: 70px; }
.span3 { width: 110px; }
.span4 { width: 150px; }
.span5 { width: 190px; }
.span6 { width: 230px; }
.span7 { width: 270px; }
.span8 { width: 310px; }
.span9 { width: 350px; }
.span10 { width: 390px; }
.span11 { width: 430px; }
.span12 { width: 470px; }
.span13 { width: 510px; }
.span14 { width: 550px; }
.span15 { width: 590px; }
.span16 { width: 630px; }
.span17 { width: 670px; }
.span18 { width: 710px; }
.span19 { width: 750px; }
.span20 { width: 790px; }
.span21 { width: 830px; }
.span22 { width: 870px; }
.span23 { width: 910px; }
.span24 { width: 950px; }
.offset1 { margin-left: 45px; }
.offset2 { margin-left: 85px; }
.offset3 { margin-left: 125px; }
.offset4 { margin-left: 165px; }
.offset5 { margin-left: 205px; }
.offset6 { margin-left: 245px; }
.offset7 { margin-left: 285px; }
.offset8 { margin-left: 325px; }
.offset9 { margin-left: 365px; }
.offset10 { margin-left: 405px; }
.offset11 { margin-left: 445px; }
.offset12 { margin-left: 485px; }
.offset13 { margin-left: 525px; }
.offset14 { margin-left: 565px; }
.offset15 { margin-left: 605px; }
.offset16 { margin-left: 645px; }
.offset17 { margin-left: 685px; }
.offset18 { margin-left: 725px; }
.offset19 { margin-left: 765px; }
.offset20 { margin-left: 805px; }
.offset21 { margin-left: 845px; }
.offset22 { margin-left: 885px; }
.offset23 { margin-left: 925px; }
.offset24 { margin-left: 965px; }

@media (min-width: 1200px) {
    .container { width: 1092px; }
    [class*="span"] { margin-left: 6px; margin-right: 6px; }
    .row { margin-left: -6px; margin-right: -6px }
    .span1 { width: 34px; }
    .span2 { width: 80px; }
    .span3 { width: 126px; }
    .span4 { width: 172px; }
    .span5 { width: 218px; }
    .span6 { width: 264px; }
    .span7 { width: 310px; }
    .span8 { width: 356px; }
    .span9 { width: 402px; }
    .span10 { width: 448px; }
    .span11 { width: 494px; }
    .span12 { width: 540px; }
    .span13 { width: 586px; }
    .span14 { width: 632px; }
    .span15 { width: 678px; }
    .span16 { width: 724px; }
    .span17 { width: 770px; }
    .span18 { width: 816px; }
    .span19 { width: 862px; }
    .span20 { width: 908px; }
    .span21 { width: 954px; }
    .span22 { width: 1000px; }
    .span23 { width: 1046px; }
    .span24 { width: 1092px; }
    .offset1 { margin-left: 52px; }
    .offset2 { margin-left: 98px; }
    .offset3 { margin-left: 144px; }
    .offset4 { margin-left: 190px; }
    .offset5 { margin-left: 236px; }
    .offset6 { margin-left: 282px; }
    .offset7 { margin-left: 328px; }
    .offset8 { margin-left: 374px; }
    .offset9 { margin-left: 420px; }
    .offset10 { margin-left: 466px; }
    .offset11 { margin-left: 512px; }
    .offset12 { margin-left: 558px; }
    .offset13 { margin-left: 604px; }
    .offset14 { margin-left: 650px; }
    .offset15 { margin-left: 696px; }
    .offset16 { margin-left: 742px; }
    .offset17 { margin-left: 788px; }
    .offset18 { margin-left: 834px; }
    .offset19 { margin-left: 880px; }
    .offset20 { margin-left: 926px; }
    .offset21 { margin-left: 972px; }
    .offset22 { margin-left: 1018px; }
    .offset23 { margin-left: 1064px; }
    .offset24 { margin-left: 1110px; }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container { width: 760px; }
    [class*="span"] { margin-left: 4px; margin-right: 4px; }
    .row { margin-left: -4px; margin-right: -4px }
    .span1 { width: 24px; }
    .span2 { width: 56px; }
    .span3 { width: 88px; }
    .span4 { width: 120px; }
    .span5 { width: 152px; }
    .span6 { width: 184px; }
    .span7 { width: 216px; }
    .span8 { width: 248px; }
    .span9 { width: 280px; }
    .span10 { width: 312px; }
    .span11 { width: 344px; }
    .span12 { width: 376px; }
    .span13 { width: 408px; }
    .span14 { width: 440px; }
    .span15 { width: 472px; }
    .span16 { width: 504px; }
    .span17 { width: 536px; }
    .span18 { width: 568px; }
    .span19 { width: 600px; }
    .span20 { width: 632px; }
    .span21 { width: 664px; }
    .span22 { width: 696px; }
    .span23 { width: 728px; }
    .span24 { width: 760px; }
    .offset1 { margin-left: 36px; }
    .offset2 { margin-left: 68px; }
    .offset3 { margin-left: 100px; }
    .offset4 { margin-left: 132px; }
    .offset5 { margin-left: 164px; }
    .offset6 { margin-left: 196px; }
    .offset7 { margin-left: 228px; }
    .offset8 { margin-left: 260px; }
    .offset9 { margin-left: 292px; }
    .offset10 { margin-left: 324px; }
    .offset11 { margin-left: 356px; }
    .offset12 { margin-left: 388px; }
    .offset13 { margin-left: 420px; }
    .offset14 { margin-left: 452px; }
    .offset15 { margin-left: 484px; }
    .offset16 { margin-left: 516px; }
    .offset17 { margin-left: 548px; }
    .offset18 { margin-left: 580px; }
    .offset19 { margin-left: 612px; }
    .offset20 { margin-left: 644px; }
    .offset21 { margin-left: 676px; }
    .offset22 { margin-left: 708px; }
    .offset23 { margin-left: 740px; }
    .offset24 { margin-left: 772px; }
}
@media (min-width: 481px) and (max-width: 767px) {
    .container { width: 474px; }
    [class*="span"] { margin-left: 3px; margin-right: 3px; }
    .row { margin-left: -3px; margin-right: -3px }
    .span1 { width: 14px; }
    .span2 { width: 34px; }
    .span3 { width: 54px; }
    .span4 { width: 74px; }
    .span5 { width: 94px; }
    .span6 { width: 114px; }
    .span7 { width: 134px; }
    .span8 { width: 154px; }
    .span9 { width: 174px; }
    .span10 { width: 194px; }
    .span11 { width: 214px; }
    .span12 { width: 234px; }
    .span13 { width: 254px; }
    .span14 { width: 274px; }
    .span15 { width: 294px; }
    .span16 { width: 314px; }
    .span17 { width: 334px; }
    .span18 { width: 354px; }
    .span19 { width: 374px; }
    .span20 { width: 394px; }
    .span21 { width: 414px; }
    .span22 { width: 434px; }
    .span23 { width: 454px; }
    .span24 { width: 474px; }
    .offset1 { margin-left: 23px; }
    .offset2 { margin-left: 43px; }
    .offset3 { margin-left: 63px; }
    .offset4 { margin-left: 83px; }
    .offset5 { margin-left: 103px; }
    .offset6 { margin-left: 123px; }
    .offset7 { margin-left: 143px; }
    .offset8 { margin-left: 163px; }
    .offset9 { margin-left: 183px; }
    .offset10 { margin-left: 203px; }
    .offset11 { margin-left: 223px; }
    .offset12 { margin-left: 243px; }
    .offset13 { margin-left: 263px; }
    .offset14 { margin-left: 283px; }
    .offset15 { margin-left: 303px; }
    .offset16 { margin-left: 323px; }
    .offset17 { margin-left: 343px; }
    .offset18 { margin-left: 363px; }
    .offset19 { margin-left: 383px; }
    .offset20 { margin-left: 403px; }
    .offset21 { margin-left: 423px; }
    .offset22 { margin-left: 443px; }
    .offset23 { margin-left: 463px; }
    .offset24 { margin-left: 483px; }
}
@media (min-width: 0px) and (max-width: 480px) {
    .container { width: 428px; }
    [class*="span"] { margin-left: 2px; margin-right: 2px; }
    .row { margin-left: -2px; margin-right: -2px }
    .span1 { width: 14px; }
    .span2 { width: 32px; }
    .span3 { width: 50px; }
    .span4 { width: 68px; }
    .span5 { width: 86px; }
    .span6 { width: 104px; }
    .span7 { width: 122px; }
    .span8 { width: 140px; }
    .span9 { width: 158px; }
    .span10 { width: 176px; }
    .span11 { width: 194px; }
    .span12 { width: 212px; }
    .span13 { width: 230px; }
    .span14 { width: 248px; }
    .span15 { width: 266px; }
    .span16 { width: 284px; }
    .span17 { width: 302px; }
    .span18 { width: 320px; }
    .span19 { width: 338px; }
    .span20 { width: 356px; }
    .span21 { width: 374px; }
    .span22 { width: 392px; }
    .span23 { width: 410px; }
    .span24 { width: 428px; }
    .offset1 { margin-left: 20px; }
    .offset2 { margin-left: 38px; }
    .offset3 { margin-left: 56px; }
    .offset4 { margin-left: 74px; }
    .offset5 { margin-left: 92px; }
    .offset6 { margin-left: 110px; }
    .offset7 { margin-left: 128px; }
    .offset8 { margin-left: 146px; }
    .offset9 { margin-left: 164px; }
    .offset10 { margin-left: 182px; }
    .offset11 { margin-left: 200px; }
    .offset12 { margin-left: 218px; }
    .offset13 { margin-left: 236px; }
    .offset14 { margin-left: 254px; }
    .offset15 { margin-left: 272px; }
    .offset16 { margin-left: 290px; }
    .offset17 { margin-left: 308px; }
    .offset18 { margin-left: 326px; }
    .offset19 { margin-left: 344px; }
    .offset20 { margin-left: 362px; }
    .offset21 { margin-left: 380px; }
    .offset22 { margin-left: 398px; }
    .offset23 { margin-left: 416px; }
    .offset24 { margin-left: 434px; }
}
