
/* The grid is based on em, so changing the font-size changes everything */

@media (min-width: 1200px) {
    body, html, button, input {
        font-size: 17px;
    }

    .goleftgutter {
        position: absolute;
        left: -12px;
        right: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body, html, button, input {
        font-size: 16px;
    }

    .goleftgutter {
        position: absolute;
        left: -8px;
        right: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body, html, button, input {
        font-size: 12px;
    }

    .goleftgutter {
        position: absolute;
        left: -6px;
        right: 0;
    }
}

@media (min-width: 0px) and (max-width: 480px) {
    body, html, button, input {
        font-size: 11px;
    }

    .goleftgutter {
        position: absolute;
        left: -4px;
        right: 0;
    }
}