*{
	box-sizing: border-box;
}*.sans_serif{
	font-family: Verdana, sans-serif; 
}*.serif{
	font-family: Georgia, serif; 
}*.lobster{
	font-family: 'Lobster', cursive;
}a{
	text-decoration: none;
}div#wrapper{
	width: 90%;
	margin: 0 auto;
	padding-top:30px;
	position: relative
}div.clear{
	clear:both;
}body{
	background-color:#fff;	
}nav ul li{
	background-color:#666666;
	padding:10px;
	float: left;
	border:solid 1px #fff;
	font-size: .9em;
}nav ul li a {
	color:#fff;
	font-weight: bold;
}nav ul li:first-child{
	border-radius: 10px 0 0 10px;
}nav ul li:last-child{
	border-radius: 0 10px 10px 0;
}header h1{
	font-size: 4em;
	padding-top:.5em;
	color:#CCCCCC;
}section section h1{
	padding-top: 1.5em;
	font-size:1.5em;
}section section h2{
	font-size: 1em;
	padding-top:.5em;
}section section h1 a{
	color:#3C9CDC;
}section section h2 a{
	color:#3C9CDC;
}section{
	padding-bottom:1em;
}article{
	color:#666666;
	width:80%;
}article p:first-child{
	padding-top:1em;
}blockquote{
	background-color: #F0F0F0;
	width:200px;
	padding:20px;
	float:right;
	margin: 10px 0 10px 10px;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
}article p{
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom:1.5em;
}section section i{
	color:#CCCCCC;
	font-size: .9em;
	font-style: normal;
}figure{
	background-color: #F0F0F0;
	padding:20px;
	float:right;
	margin: 10px 0 10px 10px;
}aside{
	position:absolute;
	right:0;
	top:4em;
}aside h1{
	color: #666666;
	font-size: .9em;
	line-height: 1.4em;
}aside li{
	font-size: .9em;
	line-height: 1.4em;
}aside li a{
	color:#3C9CDC ;
}footer p{
	font-size: .9em;
	color:#666666;
}footer{
	padding:1em 0;
}